<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5p] [%d{yyyy/MM/dd HH:mm:ss.SSS}] [%t] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="root" level="${LOG_LEVEL:-info}" />

  <root>
    <appender-ref ref="STDERR" />
  </root>
</configuration>
